body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font: 400 16px/1.25 Arial, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  margin: 25px 0;
}

section {
  padding: 20px 0;
}

.content {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
