* {
  box-sizing: border-box;
}

a + a {
  margin-left: 15px;
}

header {
  margin-bottom: 25px;
}


.sticky-menu  {
  width: 200px;
  height: 200px;
  background-color: #ccc;
  overflow: auto;
  padding: 20px;
}

.sticky-menu__label {
  position: sticky;
  top: -20px;
  left: 0;
  width: 100%;
  background-color: green;
  color: #fff;
  padding: 10px;
}

.sticky-menu__link {
  margin-top: 10px;
}

.sticky-menu__link + .sticky-menu__label {
  margin-top: 20px;
}

.relative-block {
  position: relative;
  width: 200px;
  height: 200px;
  border: 3px dashed green;
  top: 20px;
  left: 20px;
}

.absolute-block {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}
