body {
    background: #ccc;
<<<<<<< HEAD
}

.container_wrapper {
=======
>>>>>>> e38ce6c562f55b6379f8c17eb2421ba87c4a86fa
    display: grid;
    grid-template-areas: "box1 . box2"
        ". box3 ."
        "box4 . box5";
<<<<<<< HEAD
    margin-top: 25px;
=======
>>>>>>> e38ce6c562f55b6379f8c17eb2421ba87c4a86fa
}

.container {
    background: url(../images/cat_2.jpg) 50% no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    margin: 0 auto;
    border: 1px dashed #000;
    width: 100%;
}

.container_1 {
    grid-area: box1;
}

.container_2 {
    grid-area: box2;
}

.container_3 {
    grid-area: box3;
}

.container_4 {
    grid-area: box4;
}

.container_5 {
    grid-area: box5;
}

.gradient {
    height: 500px;
    width: 500px;
    border: 1px dashed #000;
    margin: 0 auto;
    background: linear-gradient(45deg, #000 5%, red, #000 95%);
}

.gradient-radial {
    height: 500px;
    width: 500px;
    /* border: 1px dashed #000; */
    margin: 20px auto;
    background: radial-gradient(circle at 50%, #000, transparent)
}

.gradient-ellipse {
    height: 100px;
    width: 500px;
    /* border: 1px dashed #000; */
    margin: 0 auto;
    background: radial-gradient(ellipse at 50%, #000, transparent)
}
