html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font: 400 16px/1.25 Arial, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  margin: 25px 0;
}

section {
  padding: 20px 0;
}

.content {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.product-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product-card {
  width: 31%;
  min-width: 300px;
  max-width: 350px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 1%;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.product-card__img {
  position: relative;
}

.product-card__img:before {
  content: "";
  display: block;
  padding-bottom: 33.33%;
}

.product-card__img > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product-card__img-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-card__img img {
  max-height: 100%;
  max-width: 100%;
}

.product-card__descr {
  padding: 20px;
  border-top: 1px solid #ccc;
}

.product-card__descr p + p {
  margin-top: 15px;
}

.video {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

.video:before {
  content: "";
  display: block;
  padding-bottom: 56.49%;
}

.video > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text-container {
  color: 1200px;
  color: 1920px;
}

@media only screen and (min-width: 1200px) and (max-width: 1920px) {
  .text-container {
    font-size: calc(2.77778vw + -19.33333px);
  }
}

@media only screen and (min-width: 1920px) {
  .text-container {
    font-size: 34px;
  }
}

@media only screen and (max-width: 1200px) {
  .text-container {
    font-size: 14px;
  }
}

.tooltip {
  max-width: 320px;
  width: 100%;
  font-size: 12px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 20px;
  position: relative;
}

.tooltip::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0 20px 20px 20px;
  border-bottom-color: rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=main.css.map */