* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

input[type="text"],
textarea {
  border: 1px solid #7c7c7c;
  display: block;
  width: 100%;
}

input[type='text'] {
  height: 24px;
}

textarea {
  display: block;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
}

button {
  line-height: 48px;
  padding: 0 20px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

fieldset {
  padding: 30px;
  background-color: #fff;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.float-left {
  float: left;
}

.form {
  position: relative;
  max-width: 520px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 2px 4px #ccc;
  line-height: 1.3;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f1f1f1;
  vertical-align: middle;
  display: inline-block;
  text-align: left;
}

.form__actions {
  margin-top: 15px;
  text-align: center;
}

.form-group + .form-group {
  margin-top: 15px;
}

.form-group__row input {
  width: auto
}

.form-group__row label {
  padding-left: 15px;
  display: block;
  margin-bottom: 0;
  overflow: hidden;
}

#checkbox-popup {
  display: none;
}

#checkbox-popup:checked + .popup {
  display: block;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  line-height: 100vh;
  text-align: center;
  display: none;
}

.popup__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: url('../images/close.svg') 50% no-repeat;
  background-size: contain;
  cursor: pointer;
}
