html {
    font-size: 18px;
}

body {
    font: 400 15px/1.2em Roboto, "Times New Roman", sans-serif;
    /* Межстрочный интервал высчитывается исходя из размера шрифта элемента (em) */
    font: 400 .8rem/1.2rem Roboto, "Times New Roman", sans-serif;
    /* Межстрочный интервал высчитывается исходя из размера шрифта html тега (rem) */

}

h1 {
    text-align: center;
    text-transform: uppercase;
}

.container {
    font-size: 3rem;
}

.font-size-em {
    font-size: 0.8em;
}
