.header {
  border-bottom: 1px solid #000;
  padding: 25px 0;

  .content {
    display: flex;
  }

  .logo,
  .navigation,
  .title {
    width: 33.33%;
  }

  .navigation {
    text-align: center;
  }

  .title {
    text-align: right;
  }
}
