.product-card {
  width: 31%;
  min-width: 300px;
  max-width: 350px;
  flex-grow: 1;
  margin: 1%;
  box-shadow: 0 2px 4px rgba(#000, .5);
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;

  &__img {
    @include aspect-ratio(3, 1);

    &-inner {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  &__descr {
    padding: 20px;
    border-top: 1px solid #ccc;

    p {
      + p {
        margin-top: 15px;
      }
    }
  }
}