.tooltip {
  max-width: 320px;
  width: 100%;
  font-size: 12px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(#000, .2);
  border-radius: 3px;
  padding: 20px;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -20px;
    @include triangle(top, 20px, rgba(#000, .5));
  }
}