html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #77d377;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
}

.content {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #000;
  padding: 25px 0;
}

.header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .logo,
.header .navigation,
.header .title {
  width: 33.33%;
}

.header .navigation {
  text-align: center;
}

.header .title {
  text-align: right;
}
/*# sourceMappingURL=main.css.map */