* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2 {
  font-family: 'Roboto Slab', sans-serif;
}

.content {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid rgb(190, 190, 190);
  margin-bottom: 25px;
  font-size: 0;
}

header h1,
header nav {
  display: inline-block;
}

header a {
  text-decoration: none;
}

header nav li {
  display: inline-block;
}

header nav li + li {
  margin-left: 15px;
}

.header__left,
.header__center,
.header__right {
  display: inline-block;
  width: 33.33%;
  font-size: 1rem;
  vertical-align: middle;
}

.header__center {
  text-align: center;
}

.header__right {
  text-align: right;
}

.logo {
  width: 100px;
}

.logo img {
  display: block;
  max-width: 100%;
}

.logo a {
  display: block;
}

.box {
  display: inline-block;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 4px #ccc;
  border: 1px solid #ccc;
  padding: 15px;
  vertical-align: top;
  margin: 10px 5px;
}

.box__info h2 {
  text-align: center;
}

.box__img {
  margin: 0 auto;
  max-width: 150px;
  width: 100%;
}

footer {
  margin-top: 25px;
  padding: 25px 0;
  border-top: 1px solid #ccc;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}