* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.content {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(228, 228, 228);
  padding: 20px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.header {
  border: 3px dashed #000;
}

.header .content {
  font-size: 0;
}

.header__left,
.header__center,
.header__right {
  vertical-align: middle;
  display: inline-block;
  width: 33.33%;
  font-size: 16px;
}

.header__left {
  border: 3px dashed red;
}

.header__left img {
  max-width: 100px;
}

.header__center {
  text-align: center;
}

.header__right {
  border: 3px dashed red;
  text-transform: uppercase;
  text-align: right;
}

.main-wrapper {
  padding: 20px;
  background-color: rgb(174, 248, 174);
}

.main-wrapper::after {
  content: "";
  display: block;
  clear: both;
}

aside {
  padding: 20px;
  width: 200px;
  border: 3px dashed green;
  float: left;
  background: green;
}

aside a {
  display: block;
  margin-top: 10px;
}

aside a::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  background: url("../images/checkmark.svg") 50% no-repeat;
  background-size: contain;
}

aside a:nth-child(3n + 2)::before {
  background-image: url("../images/checkmark_filled.svg");
}

h1 {
  margin: 0;
}

main {
  margin-left: 220px;
}

.section {
  padding: 20px;
  background-color: rgb(234, 110, 110);
}

.section + .section {
  margin-top: 20px;
}

ul {
  text-align: left;
  padding: 0;
}

ul.star {
  list-style-type: none;
}

ul.star li:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background: url("../images/star.svg") 50% no-repeat;
  background-size: contain;
}

.card-list {
  font-size: 0;
}

.card {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 1.3;
  width: 32%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.5;
}

.card:hover {
  opacity: 1;
}

.card:nth-child(3n + 2) {
  margin-left: 2%;
  margin-right: 2%;
}

.card__img {
  max-width: 30%;
  margin: 0 auto;
}
