.box {
  width: 200px;
  height: 200px;
  border: 2px dashed #000;
  margin: 0 auto;
  overflow: hidden;
  transition: .5s;
  transition-delay: 0s;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-property: all;
}

.box:active {
  transform: translateX(100px);
  background-color: #ccc;
}

.box:hover {
  border-radius: 50%;
}
