.box {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
}

.box:hover {
    background-color: aliceblue;
}

.box:active {
    background-color: green;
}


input:focus {
    /* border: 0; */
    outline: 3px solid #000;
}